
/* card */
.card {
    width: 180px;
    height: 250px;
    background: white;
    border: 3px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    position: relative;
    filter: url(#squiggly-filter);
    /* animation: wobble 0.8s infinite alternate ease-in-out; */
    transition: 200ms;
}

.card:hover{
    cursor:pointer;
    animation: sketchyAnim 1.5s infinite; /* todo : ou forward?????*/
    /* filter: url(#squiggly-filterHover); */

    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card > div{
    display: flex;
    justify-content: center;
    align-content: center;
}
.card h3 {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.card .image {
    width: 100%;
    height: 100%;
    background: lightgray;
    border: 2px solid black;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    transition: 500ms;
}

.card .image:hover {
    width: 93%;
    height: 88%;

    position: absolute;
    top: 20px;
    left: 5px;
    left: 5px;
}

.card .image:hover .persoPreview {
    scale:.7;
    position: relative;
    left: 0;
    top: 50px;
    transition: transform 0.3s ease, top 0.3s ease;
}


.card p {
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
}

.stats{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.iconCaract{
    height: 1.4rem;
}


.persoPreview{

    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(var(--tailleScalePerso));
    transform-origin: center;
    /* transform-origin: top center; */
    height:100%;
    /* height:auto; */
    width: auto;
    scale: .45;
}
.persoPreview img{
    position: absolute;
    left: 50%;
    translate: -50%;
}

.imgPersoCasque{
    top: 0;
}
.imgPersoHaut{
    top: 32px;
}
.imgPersoBas{
    top: 96px;
}
.imgPersoBasBas{
    top: 144px;
}

.creator{
    position: absolute;
    bottom: 10px;
    right: 5px;
}

@keyframes sketchyAnim {
    0%{
        filter: url(#squiggly-filter);
    }
    50%{
        filter: url(#squiggly-filterHover);
    }
    100%{
        filter: url(#squiggly-filter);
    }
}

#nameUser{
    position: absolute;
    top: 0;
    left: 10px;
}
#selectListing{
    filter: url(#squiggly-filter);
    width: 10%;
    position: absolute;
    left: 50%;
    translate: -50%;
    top: 9rem;
}
#searchCharacters{
    height: 1.5rem;
    border: none;
    border-bottom: 2px solid;
}

.seachBar {
    filter: url(#squiggly-filter);
    position:absolute;
    right:0; 
    top:9rem;
}
.seachBar *{
    border: none;
    background: transparent;
}

.seachBar button{
    translate: -125% 30%;
    transition: 200ms;
}
.seachBar button:hover{
    scale: 1.1;
    color: rgb(117, 117, 117);
}

#searchCharacters:focus,#inputName:focus {
    outline: none;
    border: none;
    background-color: rgba(128, 128, 128, 0.085);
    border-bottom: 3px solid grey;
    border-radius: 10px 10px 0px 0px;
}

#createCharacter{
    filter: url(#squiggly-filter);
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#createCharacterButton{
    margin: 10px;
    width: 30%;
    align-self: center;
}

#inputName{
    height: 1.5rem;
    border: none;
    border-bottom: 2px solid;
}


/* star */
.noteMoyenne{
    font-size: 1.5rem;
    margin: 0;
}

.containerStar{
    position: absolute;
    top:20px;
    right:20px;
    width: 25%;
    height: 93%;
}

.stars {
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-left: -10px;
}

.stargrey {
    color: #96969d;
}

.stars > a {
    text-decoration: none;
}

.staryellow i {
    color: #feb624;
}
.stars .star:hover,
.stars .star:hover ~ .star i{
    color: #fac251 !important;
    cursor: pointer;
}



/* pop up */


.pop-up-listing{
    filter: url(#squiggly-filter);

    position: fixed;
    width: 70vw;
    height: 70vh;
    top: calc((100vh - 70vh - 2em*2 - 5px*2)/2);
    left: calc((100vw - 70vw - 2em*2 - 5px*2)/2);
    background-color: lightgray;
    border: black 5px solid;
    z-index: 100;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    overflow: clip;
}

.pop-up-listing .image{
    scale: 2.5;
    top: -86px;
    position: relative;
}

.pop-up-listing .stats{
    margin-top: 20px;    
    position: absolute;
    scale:1.4;
}

.pop-up-listing .creator{
    position: relative;
}

.boutonsPopUp{
    display: flex;
    position: absolute;
    left: 2em;
    bottom: 2em;
    gap: 10px;
}

.fondnoir{
    top:0;
    left:0;
    position: fixed;
    z-index: 50;
    background-color: black;
    opacity: 70%;
    width: 150vw;
    height: 150vh;
}

.pop-up-listing .hearts{
    display: none;
}

footer{
    margin-top: 2em;
    width: 100%;
    max-width: 100%;
    background-color: grey;
    padding: 1em 0 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: url(#squiggly-filter);

}
#pageSelector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}
#limitSelector{
    margin-top: 10px;
}
.pagination{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 0;
}

.pagination *{
    color: black;
    text-decoration: none;
}

.page-item{
    width: 20px;
    height: 20px;
    padding: 5px;
    border: black solid 1px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-link{
    border:0;
    background-color: transparent;
}

.page-link:disabled{
    background-color: gray;
    box-shadow: 
    rgba(0, 0, 0, 0.19) 0px 18px 77px, rgba(0, 0, 0, 0.53) 2px 2px 0px;
}

.pop-up-listing h3,.pop-up-listing .creator{
    font-size: 2rem;
    margin: 10px;
    margin-left: -22px;
}

.littleCard{
    width: 80px;
    height: 150px;
    background: white;
    border: 3px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    filter: url(#squiggly-filter);
    /* animation: wobble 0.8s infinite alternate ease-in-out; */
    transition: 200ms;
    cursor: pointer;
}

.littleCard h3{
    font-size: 1em;
    margin: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.littleCard .persoPreview{
    scale: .38 !important;
    top: 1em;
}

#otherCharacters{
    display: flex;
    gap : 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70%;
    align-items: center;
    justify-content: center;
}

#otherCharacters .card, #otherCharacters .card *{
    display: none !important;
}
