<!-- <p>detail.html</p> -->
<style>main{ margin-top:3rem; display: flex; gap:10px;}</style>


<aside>
    <ul>
        <div class="stat"><img src="../assets/img/force.png" class="iconCaract" alt="force"> <div class="slider P"><p>Force</p></div></div>
        <div class="stat"><img src="../assets/img/endurance.png" class="iconCaract" alt="endurance"> <div class="slider E"><p>Endurance</p></div></div>
        <div class="stat"><img src="../assets/img/souplesse.png" class="iconCaract" alt="souplesse"> <div class="slider S"><p>Souplaise</p></div></div>
    </ul>
</aside>
<section id="editPerso">
    <div  id="perso">
        <div id="gauchePreview">

            <img class="casque" src="../assets/img/casque.png" alt="">
            <img class="haut" src="../assets/img/haut.png" alt="">
            <img class="bas" src="../assets/img/bas.png" alt="">
            <img class="basbas" src="../assets/img/basbas.png" alt="">
    
        </div>        
        
        <div id="gauche">

            <img class="casque" src="../assets/img/arrowReverse.png" alt="">
            <img class="haut" src="../assets/img/arrowReverse.png" alt="">
            <img class="bas" src="../assets/img/arrowReverse.png" alt="">
            <img class="basbas" src="../assets/img/arrowReverse.png" alt="">
    
        </div>        
        
        <img src="../assets/img/perso.png" alt="">
        
        <img id="casque" src="../assets/img/casque.png" alt="">
        <img id="haut" src="../assets/img/haut.png" alt="">
        <img id="bas" src="../assets/img/bas.png" alt="">
        <img id="basbas" src="../assets/img/basbas.png" alt="">


        <div id="droite">
            
            <img class="casque" src="../assets/img/arrow.png" alt="">
            <img class="haut" src="../assets/img/arrow.png" alt="">
            <img class="bas" src="../assets/img/arrow.png" alt="">
            <img class="basbas" src="../assets/img/arrow.png" alt="">
            
        </div>  

        <div id="droitePreview">

            <img class="casque" src="../assets/img/casque.png" alt="">
            <img class="haut" src="../assets/img/haut.png" alt="">
            <img class="bas" src="../assets/img/bas.png" alt="">
            <img class="basbas" src="../assets/img/basbas.png" alt="">
    
        </div>        
    </div>
</section>