<!-- <p>listing.html</p> -->
<style>main{ margin-top:3rem; display: flex; justify-content: space-around; gap:10px; flex-wrap: wrap;}</style>

<!-- boucle sur les perso avec ce code la -->
<div>
    <div class="card">
        <h3>Name Personnage</h3>
        <div class="image"></div>
        <div>
            <img src="../assets/img/force.png" class="iconCaract" alt="force">
            <img src="../assets/img/endurance.png" class="iconCaract" alt="endurance">
            <img src="../assets/img/souplesse.png" class="iconCaract" alt="souplesse">
        </div>
        <p>Niveau : 4</p>
        <p>Équipement : Épée</p>
    </div>
</div>


<script src="../assets/script/scriptTestPerso.js" type="module"></script>
